[beaver]
logstash_version: 1
transport: rabbitmq
rabbitmq_vhost: {{ beaver_rabbitmq_vhost }}
rabbitmq_host: {{ beaver_rabbitmq_host }}
rabbitmq_username: {{ beaver_rabbitmq_username }}
rabbitmq_password: {{ beaver_rabbitmq_password }}
rabbitmq_queue: {{ transport.type }}-X
rabbitmq_key: {{ transport.type }}-X
rabbitmq_exchange: {{ transport.type }}-X
sincedb_path: {{ beaver_home_path }}/since.db
