[beaver]
logstash_version: 1
transport: rabbitmq
rabbitmq_vhost: /
rabbitmq_host: {{ beaver_rabbitmq_host }}
rabbitmq_username: {{ beaver_rabbitmq_username }}
rabbitmq_password: {{ beaver_rabbitmq_password }}
rabbitmq_queue: {{ beaver_rabbitmq_queue }}
rabbitmq_key: {{ beaver_rabbitmq_key }}
rabbitmq_exchange: {{ beaver_rabbitmq_exchange }}
sincedb_path: /etc/beaver/since.db

[/home/leo/logs/informatica/*.txt]
type: BATCH
format: json
sincedb_write_interval: 3

[/home/leo/logs/workday/*]
type: WORKDAY
format: json
sincedb_write_interval: 5
